<main class="query-builder">
    <section class="query-builder__form">
        <% if @skater_stats %>
            <%= render "player_stat_search_form" %>
        <% else %>
            <%= render "player_search_form" %>
        <% end %>
    </section>

    <section class="query-builder__results">
        <% if @players.present? || @skater_stats.present? %>
            <% if @skater_stats %>
                <%= render "teams/players_table", sortable: true %>
            <% else %>
                <%= render "results", season: @season %>
            <% end %>
        <% else %>
            <%= render "no_results" %>
        <% end %>
    </section>
</main>
