<table class="players__table table">
    <thead>
        <tr>
            <th colspan="3" style="background-color:white; padding:0px;"></th>
            <th colspan="6">Regular Season</th>
            <th colspan="6">Playoffs</th>
            <th colspan="3">Vitals</th>
        </tr>
        <tr>
            <th>#</th>
            <th class="players__table-header">
                <%= sortable ? sort_link(@q, :full_name, "Player Name") : "Player Name" %>
            </th>
            <th>Position</th>
            <th class="players__table-header">
                <%= sortable ? sort_link(@q, :total_games_played, "GP") : "GP" %>
            </th>
            <th class="players__table-header">
                <%= sortable ? sort_link(@q, :total_goals, "G") : "G" %>
            </th>
            <th class="players__table-header">
                <%= sortable ? sort_link(@q, :total_assists, "A") : "A" %>
            </th>
            <th class="players__table-header">
                <%= sortable ? sort_link(@q, :total_points, "Pts") : "Pts" %>
            </th>
            <th>PIM</th>
            <th>+/-</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>Pts.</th>
            <th>PIM</th>
            <th>+/-</th>
            <th>Birth place</th>
            <th>Birth date</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <% @skaters.each do |skater| %>
        <%
            season_stats = skater
                .player_stats
                .regular_season
                .joins(:roster_assignment)
                .find_by(roster_assignment: {roster_id: @roster.id})
            postseason_stats = skater
                .player_stats
                .postseason
                .joins(:roster_assignment)
                .find_by(roster_assignment: {roster_id: @roster.id})
        %>
        <tr>
            <td><%= skater.sweater_number %></td>
            <td><%= link_to skater.full_name, player_path(skater.slug) %></td>
            <td><%= skater.position %></td>
            <th><%= season_stats&.games_played.to_i %></th>
            <th><%= season_stats&.goals.to_i %></th>
            <th><%= season_stats&.assists.to_i %></th>
            <th><%= season_stats&.points.to_i %></th>
            <th><%= season_stats&.pim.to_i %></th>
            <th><%= season_stats&.plus_minus.to_i %></th>
            <th><%= postseason_stats&.games_played.to_i %></th>
            <th><%= postseason_stats&.goals.to_i %></th>
            <th><%= postseason_stats&.assists.to_i %></th>
            <th><%= postseason_stats&.points.to_i %></th>
            <th><%= postseason_stats&.pim.to_i %></th>
            <th><%= postseason_stats&.plus_minus.to_i %></th>
            <td><%= "#{skater.birth_city}, #{skater.birth_country}" %></td>
            <td><%= skater.birth_date %></td>
            <td><%= skater.age %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<table class="players__table table">
    <thead>
        <tr>
            <th colspan="12">Goalies</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Player Name</th>
            <th>GP</th>
            <th>Min</th>
            <th>GA</th>
            <th>GAA</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>Svs</th>
            <th>Pct</th>
            <th>EN</th>
            <th>SO</th>
        </tr>
    </thead>
    <tbody>
        <% @goalies.each do |goalie| %>
            <%
                season_stats = goalie
                    .goalie_stats
                    .regular_season
                    .joins(:roster_assignment)
                    .find_by(roster_assignment: {roster_id: @roster.id})
            %>
            <% if season_stats %>
                <tr>
                    <th><%= goalie.full_name %></th>
                    <th><%= season_stats.games_played.to_i %></th>
                    <th><%= season_stats.time_on_ice %></th>
                    <th><%= season_stats.goals_against.to_i %></th>
                    <th><%= season_stats.goals_against_average&.truncate(2) %></th>
                    <th><%= season_stats.wins.to_i %></th>
                    <th><%= season_stats.losses.to_i %></th>
                    <th><%= "N/A" %></th>
                    <th><%= season_stats.shots_against.to_i %></th>
                    <th><%= season_stats.save_percentage&.truncate(3) %></th>
                    <th><%= season_stats.goals.to_i %></th>
                    <th><%= season_stats.shutouts.to_i %></th>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>