<table class="players__table table">
    <thead>
        <tr>
            <th colspan="3" style="background-color:white; padding:0px;"></th>
            <th colspan="6">Regular Season</th>
            <th colspan="6">Playoffs</th>
        </tr>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>League</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>Pts</th>
            <th>PIM</th>
            <th>+/-</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>Pts</th>
            <th>PIM</th>
            <th>+/-</th>
        </tr>
    </thead>
    <tbody>
        <% @stats_by_year.each do |year, stats| %>
            <%
                season_stats = stats.first
                playoff_stats = stats.last
            %>
            <tr>
                <td><%= year %></td>
                <td><%= season_stats.roster_assignment.team.full_name %></td>
                <td><%= "NHL" %></td>
                <td><%= season_stats.games_played %></td>
                <td><%= season_stats.goals %></td>
                <td><%= season_stats.assists %></td>
                <td><%= season_stats.points %></td>
                <td><%= season_stats.pim %></td>
                <td><%= season_stats.plus_minus %></td>
                <td><%= playoff_stats.games_played %></td>
                <td><%= playoff_stats.goals %></td>
                <td><%= playoff_stats.assists %></td>
                <td><%= playoff_stats.points %></td>
                <td><%= playoff_stats.pim %></td>
                <td><%= playoff_stats.plus_minus %></td>
            </tr>
        <% end %>
    </tbody>
    <thead>
        <tr>
            <th></th>
            <th>NHL Totals</th>
            <th></th>
            <th><%= @player.player_stats.regular_season.sum(&:games_played) %></th>
            <th><%= @player.player_stats.regular_season.sum { |stat| stat.goals.to_i } %></th>
            <th><%= @player.player_stats.regular_season.sum { |stat| stat.assists.to_i } %></th>
            <th><%= @player.player_stats.regular_season.sum { |stat| stat.points.to_i } %></th>
            <th><%= @player.player_stats.regular_season.sum(&:pim) %></th>
            <th><%= @player.player_stats.regular_season.sum { |stat| stat.plus_minus.to_i } %></th>
            <th><%= @player.player_stats.postseason.sum(&:games_played) %></th>
            <th><%= @player.player_stats.postseason.sum { |stat| stat.goals.to_i } %></th>
            <th><%= @player.player_stats.postseason.sum { |stat| stat.assists.to_i } %></th>
            <th><%= @player.player_stats.postseason.sum { |stat| stat.points.to_i } %></th>
            <th><%= @player.player_stats.postseason.sum(&:pim) %></th>
            <th><%= @player.player_stats.postseason.sum { |stat| stat.plus_minus.to_i } %></th>
        </tr>
    </thead>
</table>