<table class="players__table table">
    <thead>
        <tr>
            <th class="players__table-header"><%= sort_link(@q, :full_name, "Player Name") %></th>
            <th>Position</th>
            <th>Birth date</th>
            <th>Birth place</th>
            <th>Seasons</th>
            <th class="players__table-header"><%= sort_link(@q, :total_games_played, "GP") %></th>
            <th class="players__table-header"><%= sort_link(@q, :total_goals, "G") %></th>
            <th class="players__table-header"><%= sort_link(@q, :total_assists, "A") %></th>
            <th class="players__table-header"><%= sort_link(@q, :total_points, "Pts") %></th>
            <th>PIM</th>
            <th>Yrs.</th>
        </tr>
    </thead>
    <tbody>
        <% @players&.each do |player| %>
            <tr>
                <td><%= link_to player.full_name, player_path(player.slug) %></td>
                <td><%= player.position %></td>
                <td><%= player.birth_date %></td>
                <td><%= "#{player.birth_city}, #{player.birth_country}" %></td>
                <td><%= "WIP" %></td>
                <td><%= player.player_stats.regular_season.sum(&:games_played) %></td>
                <td><%= player.player_stats.regular_season.sum(&:goals) %></td>
                <td><%= player.player_stats.regular_season.sum(&:assists) %></td>
                <td><%= player.player_stats.regular_season.sum(&:points) %></td>
                <td><%= player.player_stats.regular_season.sum(&:pim) %></td>
                <td><%= player.player_stats.regular_season.count %></td>
            </tr>
        <% end %>
    </tbody>
</table>