<% season = local_assigns.dig(:season) %>

<table class="players__table table">
    <thead>
        <% if season %>
            <tr>
                <th>#</th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :full_name, "Player Name") : "Player Name" %>
                </th>
                <th>Position</th>
                <th>Birth date</th>
                <th>Years since birth</th>
                <th>Birth place</th>
                <th>Seasons</th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :games_played, "GP") : "GP" %>
                </th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :goals, "G") : "G" %>
                </th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :assists, "A") : "A" %>
                </th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :points, "Pts") : "Pts" %>
                </th>
                <th>PIM</th>
                <th>Yrs.</th>
            </tr>
        <% else %>
            <tr>
                <th>#</th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :full_name, "Player Name") : "Player Name" %>
                </th>
                <th>Position</th>
                <th>Birth date</th>
                <th>Years since birth</th>
                <th>Birth place</th>
                <th>Seasons</th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :total_games_played, "GP") : "GP" %>
                </th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :total_goals, "G") : "G" %>
                </th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :total_assists, "A") : "A" %>
                </th>
                <th class="players__table-header">
                    <%= sortable ? sort_link(@q, :total_points, "Pts") : "Pts" %>
                </th>
                <th>PIM</th>
                <th>Yrs.</th>
            </tr>
        <% end %>
    </thead>
    <tbody>
        <% @players&.each do |player| %>
            <%
                first_year = player.rosters.minimum(:year)&.[](0..3)
                last_year = player.rosters.maximum(:year)&.[](4..-1)
            %>
            <tr>
                <td><%= player.sweater_number %></td>
                <td><%= link_to player.full_name, player_path(player.slug) %></td>
                <td><%= player.position %></td>
                <td><%= player.birth_date %></td>
                <td><%= player.years_since_birth %></td>
                <td><%= "#{player.birth_city}, #{player.birth_country}" %></td>
                <td>
                    <%= first_year && last_year ?
                        "#{first_year}-#{last_year}" :
                        "N/A"
                    %>
                </td>
                <% if season %>
                    <%
                        year = season.time_period.year
                        stats_for_year = player.stats_for_season(year: year).regular_season.first
                    %>
                    <td><%= stats_for_year&.games_played.to_i %></td>
                    <td><%= stats_for_year&.goals.to_i %></td>
                    <td><%= stats_for_year&.assists.to_i %></td>
                    <td><%= stats_for_year&.points.to_i %></td>
                    <td><%= stats_for_year&.pim.to_i %></td>
                <% else %>
                    <td><%= player.player_stats.regular_season.sum { |stat| stat.games_played.to_i } %></td>
                    <td><%= player.player_stats.regular_season.sum { |stat| stat.goals.to_i } %></td>
                    <td><%= player.player_stats.regular_season.sum { |stat| stat.assists.to_i } %></td>
                    <td><%= player.player_stats.regular_season.sum { |stat| stat.points.to_i } %></td>
                    <td><%= player.player_stats.regular_season.sum { |stat| stat.pim.to_i } %></td>
                <% end %>
                <td><%= last_year.to_i - first_year.to_i %></td>
            </tr>
        <% end %>
    </tbody>
</table>